
.poppins-normal {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;


html, body{
    width: 100%;
    margin: 0;
    padding: 0;
}
  /* header */
.bg{
    background-color: #FFF8F3;
    height: 120px;
}

/* main styles */
main{
    max-width: 1140;
    align-items: center;
}



/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
nav ul{
    display: flex;
    align-items: center;
}
.tech {
    color: burlywood;
}
.bg-color {
    background-color: ;
    padding: 10px;
}
.nav-title{
    pos
}


}
/* banner styles */
/* .banner-image{ */
    background-image: url(Images/science.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    overflow: hidden;
    align-items: center;
}

.banner-card {
    position: relative;
    width: 100%;
    height: 500px;
}

.image{
    background-size: cover;
    width: 100%;
    height: 500px;
    background-position-x: center;
    position:relative;
}

.nav-title{
    color: #474747;
    padding: 20px;
}

/* banner styles */
.banner{
    text-align: center;
    /* padding: 40px; */
    margin-top: 10px;
    font-size: 40px;
    
}

.banner-text {
    position: absolute;
    top: 20%;
    right: 20%;
    padding: 60px;
    text-align: center;
}

.image2{
    position: relative;
    top: 100%;
    left: 100%;
}




/* banner styles */

.section-subtitle{
    color: #4338CA;
    font-size: 50px;
    font-weight: 800;
}
.section-title{
    font-weight: 900;
}




/* shared styles */
.img1{
    height: 80px;
    display: block;
    
}
.img2{
    height: 80px;;
}
.img3{
    height: 80px;
    display: block;
}
.text-center{
    align-items: center;
}

.background{
    background-color: #FFF8F3;
    padding: 40px;
    margin-top: 60px;
}

.btn{
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 8px;
    font-size: 15px;
    border: none;
}
a .btn:hover{
    background-color: #4338CA;
    display: block;
    filter: drop-shadow(0 0 10px #fffdef);
}

.font-img{
    position: relative;
    left: 35%;
    top: 20%;
}

.tech1{
    color: brown;
}

.learn{
    font-weight: 800;
    padding: 10px;
}



/* features section styles */
.Features-container {
    display: flex;
    gap: 24px;
    padding: 0px 350px;
    justify-content: center;
    margin-bottom: 15px;
    
}

.Features-more{
    padding:50px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 26, 0.06);
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 10px;
    justify-content: space-around;
    transition: 0.2s;
    margin-bottom: 20px;
    
}

.features{
    font-weight: bolder;
    font-size: larger;
    
    
    
}

.Features-more:hover{
    transform: scale(1.1);
    z-index: 1;
}

/* section styles */
.section-title2{
    text-align: center;
    margin-top: 100px;
    /* margin-bottom:px; */
    font-weight: 900;
}

.section-description{
    text-align: center;
    font-weight: lighter;
    padding: 5px 350px;
    max-width: 1140px;
    justify-content: space-around;
    max-height: max-content;
    color: #757575;
    
}

.Features-container:hover{
    transform: scale(1.3);
    z-index: 2;
}


/* about styles */
.about-items{
    display: flex;
    gap: 200px;
    justify-content: center;
}
.contact-title{
    font-size: xx-large;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 20px;
}
.contact{
    text-align: center;
    padding: 
}

.contacts-title{
    font-size: large;
    padding: 0;
    text-align: center;
    font-weight: bold;
}
.contact-description{
    color: #757575;
}


.tech:hover{
     0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }

}
.btn2{
    position: absolute;
    top: 100%;
    left: 90%;
    size: 500;
}
button:hover .after{
    display: block;
    filter: drop-shadow(0 0 10px #fffdef);
}

.text{
    font-weight: 700;
}